a:hover{
    color: gray;
}

body{
    margin: 0;
    font-family: Poppins, sans-serif;
    vertical-align: middle;
}
a {
    text-decoration:none;
 }
.container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: #3a3633;
    color: white;
    padding-top: 2%;
}
.bar{
    height: 50px;
    background-color: #3a3633;
    color: #fff;
}
.btn{
    padding-top: 10px;
    font-size: 20px;
    color: white;
    padding-left: 80px;
    
}

.image{
    display: block;
}